.swiper-pagination-bullet-active {
    background: white;
}


/* Estilo para los botones de navegación */
.swiper-button-next,
.swiper-button-prev {
    background-size: 30px 30px; /* Ajusta el tamaño de la imagen SVG */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    background-color: white; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


.swiper-button-next::after,
.swiper-button-prev::after {
    color: blue; 
    font-size: 20px;
}


.swiper-button-next {
    right: 0px;
    /* content: url('/resources/images/ArrowRigth.svg'); */
    
}

.swiper-button-prev {
    left: 0px;
    /* content: url('/resources/images/ArrowLeft.svg'); */
    
}    